<div class="row">
  <div class="col-6">
    <div class="card">
      <app-dona titulo="titulo dos"></app-dona>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <app-dona titulo="Ventas" [labels]="labels1"></app-dona>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <app-dona titulo="titulo 3" [data]="data"></app-dona>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <app-dona titulo="titulo 4"></app-dona>
    </div>
  </div>
</div>
